/* This is my first proper css file */

body{
    background-color: #BFDFFF;
    max-width: 650px;
    margin: auto;
}

.header{
    background: white;
    width: 100vw;
    padding: 40px;
    text-align: center;
}       

h1, h2, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Nunito', sans-serif;
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.button1{
    background-color: #002394;
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 12px;
    width: 250px;
    margin: 20px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button1:hover{
    background-color: #BFDFFF;
}    

.button2{
    background-color: #003CFF;
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 12px;
    width: 250px;
    margin: 20px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button2:hover{
    background-color: #BFDFFF;
} 
