/* This is my first proper css file */

body{
    background-color: #BFDFFF;
    max-width: 650px;
    margin: auto;
}

h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.button1{
    background-color: #002394;
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    width: 250px;
    transition-duration: 0.4s;
    margin: 20px;
}

.button2{
    background-color: #003CFF;
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    width: 250px;
    transition-duration: 0.4s;
}

.button1:hover{
    background-color: #002394;
    color: white;
}    

.button2:hover{
    background-color: #003CFF;
    color: white;
} 
