/* This is my first proper css file */

body{
    background-color: #C7FCFF ;
    max-width: 450px;
    margin: auto;
}

h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.button1{
    background-color: #E0081;
    border: none;
    colour: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 250px;
}

.button2{
    background-color: #3C00FF;
    border: none;
    colour: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 250px;
}

.button:hover {
  background-color: #E0081;
  color: white;
}
