/* Index css */

body{
    background: linear-gradient(
        to right,
        #D9D9D9 0%,
        #D9D9D9 50%,
        #FFFFFF 50%,
        #FFFFFF 100%
        );
    max-width: 100%;
    margin: auto;
} 

/* Code for the navigation bar found on W3Schools */

.topnav {
  overflow: hidden;
  background-color: #B7B6B6;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: #9F9F9F;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 15px;
}
}

h2{
    color: black;
    font-family: 'Major Mono Display', monospace;
}

h1{
    color: black;
    font-family: 'Train One', cursive;
    font-size: 80px;
}  

.container{
    background-color: transparent;
    text-align: center;
    margin: 30px 0px 10px 0px;
}   

.container1{
    background-color: transparent;
    text-align: center;
    margin: 10px 0px;
}  
