/* This is my first proper css file */

body{
    background-color: #C3C3C3;
    max-width: 500px;
    margin: auto;
}

.header{
    background: #C3C3C3;
    width: 100%;
    max-width: 500px;
    padding: 1px;
    text-align: center;
}       

h1, h2, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Nunito', sans-serif;
} 
    

.chart{
    background-color: white;
    width:450px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #0AFFFF;
    margin: 0px 0px 10px 50px;
}

.grid {
    width: 550px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #808080;
    margin: 10px 0px 10px 0px;
  }

.button1{
    background-color: #002394;
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 12px;
    width: 250px;
    margin: 20px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button1:hover{
    background-color: #BFDFFF;
}    

.button2{
    background-color: #003CFF;
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 12px;
    width: 250px;
    margin: 20px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button2:hover{
    background-color: #BFDFFF;
} 
