/* This is my first proper css file */

body{
    background: linear-gradient(
        to right,
        #D9D9D9 0%,
        #D9D9D9 50%,
        #FFFFFF 50%,
        #FFFFFF 100%
        );
    max-width: 500px;
    margin: auto;
} 

h2{
    color: black;
    font-family: 'Nunito', sans-serif;
}

h1{
    color: black;
    font-family: 'Train One', cursive;
    font-size: 80px;
}  

.container{
    background-color: transparent;
    text-align: center;
}    

.button1{
    background-color: white;
    border: none;
    padding: 10px 25px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    width: 150px;
    margin: 10px 0px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button1:hover{
    background-color: transparent;
    border-color: transparent;
}

.button2{
    background-color: white;
    border: none;
    padding: 10px 25px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    width: 150px;
    margin: 10px 0px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button2:hover{
    background-color: transparent;
    border-color: transparent;
} 
