/* Portfolio css */

body{
    background: linear-gradient(
        to right,
        #D9D9D9 0%,
        #D9D9D9 50%,
        #F2C894 50%,
        #F2C894 100%
        );
    max-width: 1000px;
    margin: auto;
}

/* Code for the navigation bar found on W3Schools */

.topnav {
  overflow: hidden;
  background-color: #B7B6B6;
  width: 1000px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  width: 333.3333px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: #FFB347;
  color: white;
}

.container{
    background-color: transparent;
    text-align: center;
} 

p{
    color:black;
    font-family: 'Nunito', sans-serif;
} 

h2{
    color: black;
    font-family: 'Major Mono Display', monospace;
}

h1{
    color: black;
    font-family: 'Train One', cursive;
    font-size: 50px;
}  

.title{
    width: 800px;
    background-color: transparent;
    text-align: center;
    margin: 10px 100px 0px 100px;
}    
    
.homework{
    width: 800px;
    background-color: transparent;
    text-align: center;
    border-width: 3.5px;
    border-style: solid;
    border-radius: 5px;
    border-color: transparent;
    padding: 0px 10px 0px 10px;
    margin: 10px 100px 10px 100px;
}    

.chart{
    background-color: white;
    width:450px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFB347;
    margin: 0px 275px 20px 275px;
}

.png{
    background-color: white;
    width:450px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFB347;
    margin: 0px 275px 20px 275px;
}   

.link{
    color: #FF985A;
    text-decoration: none;
}

.link:hover{
    color: #FFB347;
}

/* Code for horizontal black line */

hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: transparent;
    color: black;
    width: 1000px;
    border-top: 1px solid black;
}
