/* Project css */

body{
    background: linear-gradient(
        to right,
        #D9D9D9 0%,
        #D9D9D9 50%,
        #CCE5FF 50%,
        #CCE5FF 100%
        );
    max-width: 1000px;
    margin: auto;
}

/* Code for the navigation bar found on W3Schools */

.topnav {
  overflow: hidden;
  background-color: #B7B6B6;
  width: 1000px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  width: 333.3333px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

/* original colour #F9F9F9 */
.topnav a.active {
  background-color: #4484CE;
  color: white;
}

.container{
    background-color: transparent;
    text-align: center;
} 

.containergraph{
    background-color: transparent;
    justify-content: center;
}

p{
    color:rgb(17, 17, 17);
    font-family: 'Nunito', sans-serif;
}

h1{
    color: black;
    font-family: 'Train One', cursive;
    font-size: 50px;
}

h2{
    color: black;
    font-family: 'Major Mono Display', monospace;
}

h3{
    color: black;
    font-family: 'Major Mono Display', monospace;
}

.title{
    background-color: transparent;
    text-align: center;
    margin: 20px 0px;
}

.bigtitle{
    background-color: transparent;
    text-align: center;
    margin: 20px 0px 40px 0px;
}

/* Different size chart divs for charts of different widths */

.chart1{
    background-color: white;
    width: 750px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #4484CE;
    margin: 0px 125px 0px 125px;
}

.chart2{
    background-color: white;
    width: 650px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #4484CE;
    margin: 0px 175px 0px 175px;
}

.chart3{
    background-color: white;
    width: 550px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #4484CE;
    margin: 0px 225px 0px 225px;
}

.png{
    background-color: white;
    width: 500px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #4484CE;
    margin: 0px 250px 0px 250px;
}

.smallbutton{
    background-color: white;
    border: none;
    padding: 5px 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #4484CE;
    border-radius: 5px;
    width: 100px;
    margin: 10px 10px 20px 10px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.smallbutton:hover{
    background-color: transparent;
    border-color: transparent;
}

.buttoncontainer{
    text-align: center;
    align-items: flex-start;
    display: inline-block;
    width: 1000px;
    margin: 0px 0px 20px 0px;
}    

/* Code for horizontal black line */

hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: transparent;
    color: black;
    width: 1000px;
    border-top: 1px solid black;
}

hr.dotted{
    margin-top: 10px;
    margin-bottom: 10px;
    border: transparent;
    color: black;
    width: 1000px;
    border-top: 4px dotted black;
}


