/* This is my first proper css file */

body{
    background: linear-gradient(
        to right,
        #D9D9D9 0%,
        #D9D9D9 50%,
        #CCE5FF 50%,
        #CCE5FF 100%
        );
    max-width: 100%;
    margin: auto;
}

/* Code for the navigation bar found on W3Schools */

.topnav {
  overflow: hidden;
  background-color: #B7B6B6;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: #9F9F9F;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}
}

.container{
    background-color: transparent;
    text-align: center;
}     

p{
    color:rgb(17, 17, 17);
    font-family: 'Nunito', sans-serif;
}

h1{
    color: black;
    font-family: 'Train One', cursive;
    font-size: 50px;
}

h2{
    color: black;
    font-family: 'Major Mono Display', monospace;
}

h3{
    color: black;
    font-family: 'Major Mono Display', monospace;
}

.title{
    width: 1000px;
    background-color: transparent;
    text-align: center;
    margin: 20px 0px;
}
    
.text{
    width: 800px;
    background-color: transparent;
    text-align: center;
    margin: 5px 0px;
}   

.sections{
    width: 800px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: transparent;
    text-align: center;
    margin: 10px 0px;
}

.chart1{
    background-color: white;
    width: 750px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #4484CE;
    margin: 0px;
}

.chart2{
    background-color: white;
    width: 650px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #4484CE;
    margin: 0px;
}

.png{
    background-color: white;
    width: 500px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #4484CE;
    margin: 0px;
}

.smallbutton{
    background-color: white;
    border: none;
    padding: 5px;
    color: black;
    text-align: center;
    font-size: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 75px;
    margin: 10px 0px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.smallbutton:hover{
    background-color: transparent;
    border-color: transparent;
}
    
hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: transparent;
    color: black;
    width: 1000px;
    border-top: 1px solid black;
}
